/* Seção Destaque */
#destaque{
    margin: 15px;
}
.cropped-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cropped-image-up {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 100%;
}

.left-div {
    height: 100%;
}

/* Estilos para telas pequenas */
@media (max-width: 991.98px) {
    .cropped-image {
        height: 200px;
        object-fit: cover;
        object-position: center;
    }

    .cropped-image-up {
        height: 200px;
        object-fit: cover;
        object-position: 100% 30%;
    }
}

.collapse-box {
    background: linear-gradient(rgba(0, 0, 0, 0.856) 0%, rgba(36, 35, 35, 1) 49%);
    border-radius: 5px;
    border-bottom: 2px solid rgba(15, 146, 26, 0.788);
    border-top: 2px solid rgba(15, 146, 26, 0.788);
    max-height: 0;
    overflow: hidden;
    padding: 8px;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.collapse.show {
    max-height: 300px;
    opacity: 1;
}

/* Seção: Por Que Escolher a Acha Ruídos? */
#why-choose-us {
    margin: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.856) 0%, rgba(36, 35, 35, 1) 49%);
    border-radius: 5px;
    border-bottom: 2px solid rgba(15, 146, 26, 0.788);
    border-top: 2px solid rgba(15, 146, 26, 0.788);
    justify-content: center;
}

.feature-box {
    background: rgba(255, 255, 255, 0.795);
    border-radius: 10px;
    border-bottom: 2px solid rgba(15, 146, 26, 0.788);
    border-top: 2px solid rgba(15, 146, 26, 0.788);
    box-shadow: 0 -8px 8px rgba(15, 146, 26, 0.788), 0 8px 8px rgba(15, 146, 26, 0.788); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%; /* Garante que a altura seja consistente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-bottom: 5px solid rgba(15, 146, 26, 0.788);
    border-top: 5px solid rgba(15, 146, 26, 0.788);
}

.icon-choose {
    font-size: 3rem;
    color: #0f921a;
    /* Cor do ícone */
}

.feature-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: #242323;
    /* Cor do título */
}

.feature-description {
    font-size: 1rem;
    color: var(--dark);
}

/* Seção: Depoimentos */
#testimonials {
    background: linear-gradient(rgba(0, 0, 0, 0.856) 0%, rgba(36, 35, 35, 1) 49%);
    color: var(--light);
    border-radius: 10px;
    padding: 3rem 0;
    position: relative;
    z-index: -1;
    
}

#testimonials::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('../img/rexperformance-banner.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
}

#testimonials .container {
    position: relative;
}


.testimonial-item {
    text-align: center;
    padding: 2rem;
    background: rgba(2, 43, 5, 0.829);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.712);
    margin-bottom: 2rem;
}

.testimonial-text {
    font-size: 1.2rem;
    font-style: italic;
    color: var(--light);
    margin-bottom: 1.5rem;
}

.testimonial-author {
    font-size: 1rem;
    font-weight: bold;
    color: var(--secondary);
    font-family: 'Autogate', Arial, sans-serif;
}

/* Controles do Slider */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

/* Seção: FAQ */
#faq {
    margin: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(36, 35, 35, 1) 49%);
    border-radius: 5px;
    border-bottom: 2px solid rgba(15, 146, 26, 0.788);
    border-top: 2px solid rgba(15, 146, 26, 0.788);
    padding: 4rem 0;
    color: var(--light); /* Cor do texto */
}

.accordion-button {
    background-color: rgba(0, 0, 0, 0.692);
    color: var(--light);
    font-weight: normal;
    box-shadow: inset 0 0 5px rgba(15, 146, 26, 0.7), 0 0 10px rgba(15, 146, 26, 0.7), 0 0 30px rgba(15, 146, 26, 0.7), 0 0 4px rgba(15, 146, 26, 0.7);
}

.accordion-button:not(.collapsed) {
    color: var(--dark); /* Cor do texto ao expandir */
    box-shadow: 0 0 20px rgba(252, 252, 252, 0.829);
    background-color: var(--secondary);
}

.accordion-header {
    font-family: 'Autogate', Arial, Helvetica, sans-serif;
}

.accordion-body {
    background-color: rgba(255, 255, 255, 0.9); /* Cor de fundo do conteúdo */
    color: var(--dark); /* Cor do texto */
    border-radius: 0 0 10px 10px;
    padding: 1.5rem;
}

/* Seção: Anuncios */
#rex-show {
    /* background-color: var(--middle); */
    padding: 4rem 0;
    position: relative;
    z-index: 1;
    margin: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(36, 35, 35, 1) 49%);
    border-radius: 5px;
    border-bottom: 2px solid rgba(15, 146, 26, 0.788);
    border-top: 2px solid rgba(15, 146, 26, 0.788);
    padding: 4rem 0;
}

#rex-show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('../img/rexlift-bg-destaque.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
}

#rex-show .container {
    position: relative;
}

/**Seção Contato**/

.contact-section {
    margin: 50px;
    padding: 50px 0;
    background-color: #000000;
}

.container-contact{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    /* background: var(--middle); */
}

.contact-title h5{
    font-family: 'Autogate';
}

.contact-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-family: 'Autogate', Arial, Helvetica, sans-serif;
    text-align: center;
}

.contact-icon {
    font-size: 50px;
    margin-right: 20px;
    color: #009d00;
    justify-content: space-between;
}


.contact-info a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.contact-info span {
    font-size: 2rem;

}

.form-container {
    background-color: var(--dark);
    padding: 30px;
    border-radius: 8px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input,
.form-container textarea {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 16px;
}

.form-container textarea {
    resize: none;
}

.form-container button {
    background-color: #009d00;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #007a00;
}